<div class="cart-items-container" id="cart-items-container">
  <div class="cart-item" id="cart-item item-one">
    <img src="/images/cart-item-1.png" alt="">
    <div class="content">
      <h3>cart item 01</h3>
      <div class="price">$15.99</div>
    </div>
    <span class="fas fa-times" ></span>
  </div>

  <div class="cart-item" id="cart-item item-two" >         
    <img src="/images/cart-item-1.png" alt="">
    <div class="content">
      <h3>cart item 02</h3>
      <div class="price">$15.99</div>
    </div>
    <span class="fas fa-times" ></span>
  </div>

  <div class="cart-item" id="cart-item item-three">      
    <img src="/images/cart-item-2.png" alt="">
    <div class="content">
      <h3>cart item 02</h3>
      <div class="price">$15.99</div>
    </div>
    <span class="fas fa-times" ></span>
  </div>

  <div class="cart-item"id="cart-item item-four">        
    <img src="/images/cart-item-3.png" alt="">
    <div class="content">
      <h3>cart item 03</h3>
      <div class="price">$15.99</div>
    </div>
    <span class="fas fa-times" ></span>
  </div>

  <div class="cart-item" id="cart-item item-five">
    <img src="/images/cart-item-4.png" alt="">
    <div class="content">
      <h3>cart item 04</h3>
      <div class="price">$15.99</div>
    </div>
    <span class="fas fa-times" ></span>
  </div>

  <ul class="ul" id="add-list"></ul>

  <a href="#" class="btn" id="btn">Checkout here</a>
</div>
    