
  <header class="header">
     

      <div class="flex">
        {{!-- <select name="" id="">
          <option disabled selected>Select Here</option>
          <option value="Delete">Delete account</option>
        </select> --}}

        <a href="#" class="logo">
          <img src="/images/logo.png" alt="">
        </a>
        
        <div class="logout" id="logout">
          <p>logout</p>
        </div>

      </div>  
    
      <nav class="navbar">
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#menu">Menu</a>
        <a href="#products">Products</a>
        <a href="#reviews">reviews</a>
        <a href="#contacts">Contacts</a>
        <a href="#blogs">blogs</a>
      </nav>

      <div class="icons">
        <div class="fas fa-search" id="search-btn"></div>
        <div class="fas fa-shopping-cart" id="cart-btn"></div>
        <div class="fas fa-bars" id="menu-btn"></div>
      </div>
      <div class="search-form">
        <input type="search" id="search-box" placeholder="search here...">
        <label for="search-box" class="fas fa-search"></label>
      </div>
      

      {{!-- Kevin! this is where the items will go, you just need to change the cart item h3 and the price with the exact data --}}
      {{!-- and you need to add the #each methode to display all the items that are selected  --}}
      <div class="cart-items-container" id="cart-items-container">
        <div class="cart-item" id="cart-item item-one">
          <img src="/images/cart-item-1.png" alt="">
          <div class="content">
            <h3>cart item 01</h3>
            <div class="price">$15.99</div>
          </div>
          <span class="fas fa-times" ></span>
        </div>

        <ul class="ul" id="add-list"></ul>

        <a href="#" class="btn" id="btn">Checkout here</a>
      </div>
      
   </header>   

   <!--home section starts-->
    <section class="home" id="home">

      <div class="content">
        <h3>coffees from around the world</h3>
        <p>We have traveled the world, and curated the best offerings from countries around the globe.
          The coffees available are rotational by nature, since we are always on the lookout for new tastes, and experiences.</p>
        <a href="" class="btn">get yours now</a>   
      </div>
    </section>
    <!--home section ends-->



    <!--about section starts-->
      <section class="about" id="about">
        <h1 class="heading"><span>About</span>Us</h1>
        <div class="row">
          <div class="image">
            <img class="img" src="/images/about-img.jpeg" alt="">
          </div>
          <div class="content">
            <h3>what makes our coffee special</h3>
            <p>Our team of experts have spent a lifetime enjoying coffee from all over the world. As our travels take us to various countries, we enjoy connecting with the culture through the coffee they enjoy most, or the coffee they find special.
            </p>
            <p>So many cultures around the world have a deep connection to the bittersweet drink, and we do too. Imagine taking a trip abroad and immediately finding the best coffee that country has to offer. That's the experience we offer here, come, take a trip with us.</p>  
            <a href="#menu" class="btn">learn more</a>
          </div>
        </div>
        <div class="cursor"></div>
      </section>
    <!--about section ends-->

    <!--menu section starts-->
    <section class="menu" id="menu">
      <h1 class="heading">Our <span>Menu</span></h1>
      <div class="box-container">
        <div class="box">
          <img src="/images/menu-1.png" alt="">
          <h3>Organic Kona coffee from Hawai'i</h3>
          <div class="price">$62.99 <span>110$</span></div>
          <a href="#" class="btn" id="btn-1" >add to cart</a>
        </div>

        <div class="box">
          <img src="/images/menu-2.png" alt="">
          <h3>Granell Wild coffee from Indonesia</h3>
          <div class="price">$108.99 <span>120.99$</span></div>
          <a href="#" class="btn" id="btn-2">add to cart</a>
        </div>

        <div class="box">
          <img src="/images/menu-3.png" alt="">
          <h3>Leeroy Jenkins coffee from Guatemala</h3>
          <div class="price">$65.99 <span>80.99$</span></div>
          <a href="#" class="btn">add to cart</a>
        </div>

        <div class="box">
          <img src="/images/menu-4.png" alt="">
          <h3>Jamaica Blue coffee from Jamaica</h3>
          <div class="price">$98.99 <span>40.99$</span></div>
          <a href="#" class="btn" id="btn-4">add to cart</a>
        </div>

        <div class="box">
          <img src="/images/menu-5.png" alt="">
          <h3>Nakayama Arabica coffee from Okinawa</h3>
          <div class="price">$175.99 <span>20.99$</span></div>
          <a href="#" class="btn" id="btn-5">add to cart</a>
        </div>

        <div class="box">
          <img src="/images/menu-6.png" alt="">
          <h3>Peaberry Arabica coffee from Brazil</h3>
          <div class="price">$155.99 <span>20.99$</span></div>
          <a href="#" class="btn" id="btn-6">add to cart</a>
        </div>
      </div>
    </section>


    <!--products section starts-->
    <!--recommend changing this section to 'Most popular products'-->
    <!--The change has already been made to the text displayed in html-->
    <section class="products" id="products">
      <h1 class="heading"><span>Our</span>Most popular products</h1>
      <div class="box-container">
        <div class="box">
          <div class="icons">
            <a href="#" class="fas fa-shopping-cart"></a>
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
          </div>
          <div class="image">
            <img src="/images/product-1.png" alt="">
          </div>
          <div class="content">
            <h3>Number 1 rated for 6 months!</h3>
            <div class="starts">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price">$15.99</div>
          </div>
        </div>

        <div class="box">
          <div class="icons">
            <a href="#" class="fas fa-shopping-cart"></a>
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
          </div>
          <div class="image">
            <img src="/images/product-2.png" alt="">
          </div>
          <div class="content">
            <h3>Number 2 rated for 4 weeks!</h3>
            <div class="starts">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price">$15.99</div>
          </div>  
        </div>

        <div class="box">
          <div class="icons">
            <a href="#" class="fas fa-shopping-cart"></a>
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
          </div>
          <div class="image">
            <img src="/images/product-3.png" alt="">
          </div>
        <div class="content">
            <h3>Number 3 rated for 1 year!</h3>
            <div class="starts">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price">$15.99</div>
          </div>  
        </div>
      </div>

    </section>


    <!-- reviews section starts -->
    <main id="reviews" class="reviews">
      <h1 class="heading"><span>Our</span>Reviews</h1>
      <div class="container">

        <div class="">
          <button class="random-btn-add">Add Your review</button>
          <button class="random-btn-see">See all Reviews</button>
        </div>
        <form class="form-review">
            <div class="form-group">
              <label for="exampleFormControlTextarea1" class="display-4">Please Add Your Review</label>
              <textarea class="form-control" id="Textarea1" rows="5"></textarea>
              <button type="submit" class="btn btn-primary mb-2 text-dark">Submit Your Review</button>
            </div>
        </form>

        <div class="row first-row">       
          <div class="col">
            <article class="reviews">
              <h2 id=  "author">author name</h2>
              <p class="reviews-first-p" id="job">   
                author comment will go here <span> and created at Created at </span>
              </p>              
            </article>
          </div>
        </div>
        
      </div>

    </main>

    <script src="/javascript/index.js" ></script>
    <script src="/javascript/logout.js"></script>
  