
<!--header starts-->
  <header class="header-header text-center"> 
    <h1 class=" display-4 h4"><strong>Coffee Shop</strong></h1>
  </header>
   <!--header ends-->

  <section class="row">

    <!-- first col start here -->
    <div class="col col-lg-8 col-sm-12" id="col-1">
      <!-- our logo  -->
      <div class="logo context">
        <img src="/images/logo.png" alt="" >
      </div>

      <!-- first heading  -->
      <div class="context">
        <h2>Welcome Back!</h2>
        <!-- first paragraph -->
        <p>To keep connected with us please loging with your personal info</p>
      </div>
      
      <!-- sign in button -->
      <form class="login-form">
        <div class="login context">
          <div>
            <label for="email-login" class="user">email:</label>
            <input class="user-input" type="text" id="email-login">
          </div>

          <div>
            <label for="password-login" class="user">password:</label>
            <input  class="user-input" type="password" id="password-login" />
          </div>
          
          <button type="submit" class="btn-submit">login <i class="fa-solid fa-person-walking"></i></button>
        </div>
      </form>
    </div>

    <!-- seconnd col start here -->
    <div class="col col-lg-3 col-sm-12 col-md-5" id="col-2">
      <h3>
        Create Account 
      </h3>

      <form class="signup-form">
        <div>
          <label for="username-signup" class="user">username <i class="fa-solid fa-user"></i></label>
          <input class="user-signup"  type="text" id="username-signup" placeholder="add username" />
        </div>
        <div>
          <label for="email-signup"  class="user" >email <i class="fa-solid fa-at"></i></label>
          <input class="user-signup" type="text" id="email-signup" placeholder="add email" />
        </div>
        <div>
          <label for="password-signup"  class="user">password <i class="fa-solid fa-lock"></i></label>
          <input class="user-signup" type="password" id="password-signup"  placeholder="add password"/>
        </div>
        <div>
          <button type="submit" class="btn-signup">signup <i class="fa-solid fa-right-to-bracket"></i></button>
        </div>
      </form>
    </div>
    
  </section>



<script src="/javascript/login.js"></script>
